### ghosts-toaster environment file

## Manual settings

# Settings in this section should be adjusted manually

# Caddy configuration
CADDY_EMAIL=admin@example.com

# Domain prefixes configuration
GHOST_PREFIX=ghost
STATIC_PREFIX=www

# Static site generation global settings
GSSG_VERSION=latest
SSH_KEY_NAME=static-generator@ghosts-toaster.local
GIT_COMMITTER_EMAIL=ghosts-toaster@example.com
GIT_COMMITTER_NAME="Ghosts Toaster"
GIT_OWNER_ID=yourusername
# this will be prepended to the default name suggested for the git repository
# leave blank if you want it to simply match the domain name
GIT_REPO_PREFIX=static.

# Watchtower configuration
WATCHTOWER_EMAIL_FROM=support@example.com
WATCHTOWER_EMAIL_TO=admin@example.com
# choose one of schedule or poll interval
# cron-style schedule; this example updates on Monday to Friday at 5:00 UTC
WATCHTOWER_SCHEDULE="0 0 7 * * 1-5"
# use poll interval in seconds if you prefer more regular hourly checks
# WATCHTOWER_POLL_INTERVAL=3600
WATCHTOWER_TIMEOUT=30s
WATCHTOWER_NOTIFICATIONS=email

# Shared mail configuration for all sites
MAIL_TRANSPORT=SMTP
MAIL_SERVICE=Mailgun
MAIL_USER=postmaster@example.com
MAIL_PASSWORD=your_mail_password
# remove .eu if using the US mailgun region
MAIL_SMTP_SERVER=smtp.eu.mailgun.org

## Auto-managed Settings

# Settings below here are automatically managed by ghosts-toaster scripts

# MySQL root password
MYSQL_ROOT_PASSWORD=very_secure_root_password

# Webhook configuration
WEBHOOK_SECRET=change_this_to_a_secure_random_string

# Ghost configuration vars for mail, automatically defined from the above
mail__transport=${MAIL_TRANSPORT}
mail__options__service=${MAIL_SERVICE}
mail__options__auth__user=${MAIL_USER}
mail__options__auth__pass=${MAIL_PASSWORD}

# Watchtower configuration vars for email, automatically defined from the above
WATCHTOWER_NOTIFICATION_EMAIL_FROM=${WATCHTOWER_EMAIL_FROM}
WATCHTOWER_NOTIFICATION_EMAIL_TO=${WATCHTOWER_EMAIL_TO}
WATCHTOWER_NOTIFICATION_EMAIL_SERVER=${MAIL_SMTP_SERVER}
WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PORT=587
WATCHTOWER_NOTIFICATION_EMAIL_SERVER_USER=${MAIL_USER}
WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PASSWORD=${MAIL_PASSWORD}
WATCHTOWER_NOTIFICATION_EMAIL_DELAY=10

# List of sites (space-separated, populated by generate-site-config.sh)
# SITES="site1.example.com site2.example.com"
# SITE_NAMES="site1 site2"
