# MySQL root password
MYSQL_ROOT_PASSWORD=very_secure_root_password

# Caddy configuration
CADDY_EMAIL=admin@example.com

# Static site generation global settings
GSSG_VERSION=latest

# List of sites (comma-separated, populated by generate-site-config.sh)
# SITES=site1.example.com,site2.example.com
# SITE_NAMES=site1,site2
